*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Quicksand',sans-serif;

   
    overflow-x:hidden;
    overflow-y:auto;


    background:linear-gradient(
        135deg,
        #dbeafe,
        #ede9fe,
        #f8fafc
    );

    height:100vh;
}

.page{
    width:100%;
    height:100vh;

    display:none;

    justify-content:center;
    align-items:center;
    flex-direction:column;

    text-align:center;
    padding:20px;

    animation:fadeIn 1s ease;
}



.active{
    display:flex;
}

h1{
    font-family:'Caveat',cursive;
    font-size:4rem;
    font-weight:700;
    color:#6d5bd0;
    margin-bottom:20px;
    line-height:1.2;
}
.birthdayTitle{
    font-family:'Pacifico',cursive;
}
h2{
    font-family:'Caveat',cursive;
    font-size:2.3rem;
    color:#7c6ae6;
    margin-bottom:20px;
}

p{
    max-width:700px;
    line-height:1.8;
    color:#4b5563;
    font-size:1.15rem;
}

button{
    padding:15px 35px;
    border:none;
    border-radius:50px;
    font-size:18px;
    font-weight:600;
    cursor:pointer;
    transition:0.3s;
}

button:hover{
    transform:scale(1.05);
}

.startBtn,
.yesBtn{
    background:#7b68ee;
    color:white;
}

.noBtn{
    background:#ff6b81;
    color:white;
}

.buttonContainer{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:25px;
    margin-top:30px;
}

#funnyText{
    margin-top:20px;
    font-size:1.4rem;
    color:#6d5bd0;
    font-family:'Caveat',cursive;
}

.floating{
    position:fixed;
    animation:float 8s linear infinite;
    pointer-events:none;
}

@keyframes float{
    from{
        transform:translateY(100vh);
    }
    to{
        transform:translateY(-100px);
    }
}
.galleryCard{
    background:white;
    padding:20px;
    border-radius:25px;
    width:420px;
    max-width:90%;
}

.galleryCard img{
    width:100%;
    height:350px;
    object-fit:contain;
    border-radius:20px;
}

.galleryCard p{
    margin-top:20px;
    font-size:1.2rem;
}

.nextBtn{
    margin-top:25px;
    background:#7b68ee;
    color:white;
}
.letterCard{
    background:rgba(255,255,255,0.95);

    width:850px;
    max-width:90%;

    max-height:80vh;
    overflow-y:auto;

    padding:50px;

    border-radius:30px;

    box-shadow:
    0 15px 40px rgba(123,104,238,0.15);

    border:3px solid rgba(255,255,255,0.7);

    backdrop-filter:blur(10px);
}
.letterCard h1{

    font-family:'Great Vibes',cursive;

    font-size:4.5rem;

    color:#7c6ae6;

    margin-bottom:30px;

    line-height:1.2;

}
.letterText{

    font-family:'Caveat',cursive;

    text-align:left;

    line-height:1.8;

    font-size:2rem;

    color:#5b5675;

    margin-top:20px;

}
.letterCard::-webkit-scrollbar{
    width:8px;
}

.letterCard::-webkit-scrollbar-track{
    background:#f3f4f6;
    border-radius:10px;
}

.letterCard::-webkit-scrollbar-thumb{
    background:#b8a8ff;
    border-radius:10px;
}
.letterCard{

background-image:
linear-gradient(
to bottom,
transparent 95%,
rgba(200,200,200,0.2) 95%
);

background-size:100% 45px;
}
.letterCard::before{

content:"🌸";

position:absolute;

top:20px;
right:25px;

font-size:25px;

opacity:0.7;
}

.letterCard::after{

content:"💖";

position:absolute;

bottom:20px;
left:25px;

font-size:25px;

opacity:0.7;
}
.letterCard{
    position:relative;
}
#matter{
    background:#111827;
}

#matterText{
    color:white;
    text-align:center;
}


@keyframes fadeIn{

    from{
        opacity:0;
        transform:translateY(20px);
    }

    to{
        opacity:1;
        transform:translateY(0);
    }
}
.galleryCard,
.letterCard{

    transition:0.4s;

}

.galleryCard:hover,
.letterCard:hover{

    transform:translateY(-5px);

    box-shadow:
    0 15px 40px rgba(123,104,238,0.2);

}
.heart{
    position:fixed;
    font-size:30px;
    opacity:0.6;
    animation:floatHeart 12s linear infinite;
    pointer-events:none;
}

.h1{left:10%;}
.h2{left:25%;}
.h3{left:45%;}
.h4{left:70%;}
.h5{left:85%;}

@keyframes floatHeart{

    from{
        transform:translateY(100vh);
    }

    to{
        transform:translateY(-100px);
    }
}
.secretCard{
    background:white;
    width:850px;
    max-width:90%;
    padding:50px;
    border-radius:30px;
    text-align:center;
}
.secretCard h1{
    font-family:'Great Vibes', cursive;
    font-size:4.5rem;
    color:#7c6ae6;
    margin-bottom:20px;
}
.secretCard h2{
    margin-top:40px;
}
.secretText{
    font-family:'Caveat', cursive;
    font-size:2rem;
    line-height:1.8;
    color:#5b5675;
}
.contractTitle{
    font-size:3rem;
    line-height:1.2;
}
#contract{
    justify-content:center;
    align-items:center;
    padding-top:80px;
}

#contract .secretCard{
    max-height:80vh;
    overflow-y:auto;
}
.songCard{
    margin-top:30px;
    background:white;
    padding:20px;
    border-radius:20px;
    box-shadow:0 10px 30px rgba(123,104,238,0.15);
}
.endingText{
    font-family:'Great Vibes', cursive;
    font-size:2.8rem;
    color:#8b7cf6;
    line-height:1.5;
}
.secretCard{
    background:rgba(255,255,255,0.95);

    backdrop-filter:blur(10px);

    box-shadow:
    0 15px 40px rgba(123,104,238,0.15),
    0 0 30px rgba(255,255,255,0.6);
}